.parallax-scroll{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px; /* or whatever height you want */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for mobile screen */
@media (max-width: 768px){
    .parallax-effect {
        background-attachment: scroll; 
        background-position: center center;
        min-height: 350px; 
  }
}